<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title> Blog Home! </title>
</head>
<body>
<div class="container-fluid">
    <div class="main">
        <h1> Olá mundo </h1>
        {% for post in posts %}
        <h3> {{ post.title }}</h3>
        <p> By: {{ post.author }} on [{{ post.date_posted }}]</p>
        <p> By: {{ post.content }} </p>
        {% endfor %}
    </div>
</div>

</body>
</html>